<div class="col-2"></div>
                                            <div class="col-6"><p>Ngày Sinh: <span class="dau_">(*)</span></p></div>
                                            <div class="col-4"></div>
                                            <div class="tentaikhoan d-flex justify-content-center">
                                                <input type="date" id="timeCheckIn" class="form-control"/>
                                            </div> 
                                            <div class="col-2"></div>
                                            <div class="col-6"><p>Giới tính: <span class="dau_">(*)</span></p></div>
                                            <div class="col-4"></div>
                                            <div class="tentaikhoan d-flex justify-content-center">
                                                <form action="/action_page.php">
                                                    <select name="cars" id="cars">
                                                      <option value="volvo">Nam</option>
                                                      <option value="saab">Nữ</option>
                                                  </select>
                                                </form>
                                            </div>