<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<!-- Begin Header -->
<body>

    <!-- Hero Section End -->
<!-- End Header -->
<div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>TÌM KIẾM NÂNG CAO</h2>
                    </div>
                </div>
            </div>
            <form action="#">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat"></div>
                            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" style="margin-top: 10px">
                                <tr>
                                    <td>Số lượng ghế:</td>
                                    <td><input style="width: 100%" type="number" placeholder=""></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#7fad39;">
                                            Địa điểm du lịch
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="sapxepgia dropdown-item" href="#">Đông Bắc Bộ</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Tây Bắc Bộ</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Đồng bằng sông Hồng</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Bắc Trung Bộ</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Nam Trung Bộ</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Tây Nguyên</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Đông Nam Bộ</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Tây Nam Bộ</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>    
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" style="margin-top: 10px">
                                <tr>
                                    <td >Tên Tour:</td>
                                    <td><input style="width: 100%" type="text" placeholder=""></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#7fad39; ">
                                            Sắp xếp giá
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="sapxepgia dropdown-item" href="#">Tăng Dần</a></li>
                                                <li><a class="sapxepgia dropdown-item" href="#">Giảm Dần</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>    
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat"></div>
                            
                            <div class="col-lg-12 text-center mt-5">
                                <button type="submit" class="site-btn">Tìm kiếm</button>
                            </div>
                            
                        </div>    
                    </div>
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 50px;">
                        <div class="contact__form__title">
                            <h2>Kết quả tìm kiếm</h2>
                        </div>
                    </div>
                </div>
                    <div class="tentaikhoan d-flex justify-content-center">
                            <input type="text" placeholder="">
                        </div>
                    <div class="row featured__filter" style="margin-top: 10px">     
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-7.jpg" class="img-fluid"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div> 
                            
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-7.jpg"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div>
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-7.jpg"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div>
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-7.jpg"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div>
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-7.jpg"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div>
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-7.jpg"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div>
                            <div class="col-lg-3 col-md-4  mix vegetables fastfood text-center">
                                <div class="featured__item" style="margin-top: 10px;">
                                    <div class="img">
                                        <a href="#"><img src="img/featured/feature-8.jpg"></a>
                                    </div>
                                    <div class="featured__item__text text-center">
                                        <h6 style="font-size: 30px;"><a href="#">Crab Pool Security</a></h6>
                                        <h5>Ngày Bắt Đầu: 23/06/2022</h5>
                                        <h5>Số Lượng: 20/100</h5>
                                        <h5>Giá: 2.500.000VNĐ</h5>
                                    </div> 
                                    <div class="col-lg-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                                        <button type="submit" class="site-btn">ĐẶT TOUR</button>
                                    </div>   
                                </div>   
                            </div>     
                    </div>
            </form>    
        </div>
    </div>

</body>
 
 

 

    <!-- Js Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>




</html>